header {
    height: 100vh;
    text-align: center;
    background-color: #eee;
    background-image: url(https://code.s3.yandex.net/web-code/images/freetrack/03/cover.png);
    background-position: center;
    background-size: cover;
  }
  